.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 88%, 43%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
  display: flex;
}

.container {
  max-width: 400px;
  width: 100%;
}
.sub-container {
  background-color: hsl(0, 0%, 12%);
  padding: 10%;
  border-radius: 10px;
}
h1 {
  margin-bottom: 0;
}
h3 {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 30px;
}

.img-avatar {
  border-radius: 100%;
  width: 25%;
}

.btn {
  display: inline-block;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 10px;
  margin-top: 5%;
  transition: 1.1s;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
}
.row {
  margin: 0;
  padding: 0;
}
a {
  margin-top: 5%;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.btn:hover {
  background-color: hsl(75, 94%, 57%);
  transform: scale(1.05);
}
